
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
     scroll-behavior: smooth;
      scroll-padding-top: 80px; /* height of your header */
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
